.ctg{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  color: #fff;
}

.ctg-division{
  display: flex;
  align-items: center;
  margin: 10px;
}

.ctg-division__line{
  width: 70px;
  height: 1px;
  background: #bbb; background-image: -webkit-linear-gradient(left, #0E0E0E, #fff, #0E0E0E); 
  background-image: -moz-linear-gradient(left, #0E0E0E, #fff, #0E0E0E); 
  background-image: -ms-linear-gradient(left, #0E0E0E, #fff, #0E0E0E); 
  background-image: -o-linear-gradient(left, #0E0E0E, #fff, #0E0E0E);
}

.ctg-division__logo{
  margin: 0px 5px;
  color: #fff;
}

.ctg__title{
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
}

.ctg__sub-title{
  font-size: 15px;
  font-weight: 300;
}