.pt-100 {
	padding-top:100px
}
.pb-70 {
	padding-bottom:70px
}
.mt-30 {
	margin-top:30px
}

.what-we-do-area{
  background-color: white;
}

.what-we-do-content span {
	font-size:15px;
	font-weight:700;
	display:block;
	margin-bottom:20px;
	margin-top:-6px;
}
.what-we-do-content h2 {
	font-size:50px;
	margin-bottom:30px
}
.what-we-do-content p {
	position:relative;
	margin-left:100px;
	margin-bottom:45px
}
.what-we-do-content p::before {
	content:"";
	position:absolute;
	top:10px;
	left:-100px;
	width:70px;
	height:1px;
	background-color:#272b2b;
}
.what-we-do-content .brand-wrap {
	margin-left:100px;
	margin-bottom:50px;
}
.what-we-do-item {
	text-align:center;
	border:1px dashed #676a6a;
	padding:20px;
	margin-bottom:30px;
	-webkit-transition:all .5s;
	transition:all .5s;
}
.what-we-do-item i {
	font-size:60px;
	margin-bottom:20px;
	display:block;
	color:#272b2b;
	line-height:1
}
.what-we-do-item h3 {
	margin-bottom:15px;
  font-weight: 700;
}
.what-we-do-item.mt-mince-30 {
	margin-top:-30px;
}
.what-we-do-item:hover {
	-webkit-transform:translateY(-5px);
	transform:translateY(-5px);
}
.what-we-do-item p{
  margin: 0px;
}

.awards{
  display: flex;
  justify-content: space-between;
}

.award{
  width: 100%;
  height: 100%;
}

.award img{
  max-width: 100%;
  height: auto;
}


@media only screen and (max-width:767px) {
	.pt-100 {
		padding-top:50px;
	}
	.pb-70 {
		padding-bottom:20px;
	}
	p {
		font-size:14px;
	}
	.what-we-do-content {
		text-align:center;
		margin-bottom:30px;
	}
	.what-we-do-content span {
		font-size:13px;
		margin-bottom:10px;
	}
	.what-we-do-content h2 {
		font-size:22px;
		margin-bottom:20px;
	}
	.what-we-do-content p {
		margin-left:0;
		margin-bottom:30px;
	}
	.what-we-do-content p::before {
		display:none;
	}
	.what-we-do-content .brand-wrap {
		text-align:centers;
		margin-left:0;
		margin-bottom:0;
	}
	h3 {
		font-size:18px;
	}
	.what-we-do-item {
		padding:20px;
	}
	.what-we-do-item i {
		font-size:50px;
	}
	.what-we-do-item.mt-30 {
		margin-top:0;
	}
	.what-we-do-item.mt-mince-30 {
		margin-top:0;
	}
}
@media only screen and (min-width:576px) and (max-width:767px) {
	.container {
		max-width:540px;
	}
}
@media only screen and (min-width:768px) and (max-width:991px) {
	.pt-100 {
		padding-top:50px;
	}
	.pb-70 {
		padding-bottom:20px;
	}
	.container {
		max-width:720px;
	}
	p {
		font-size:14px;
	}
	.what-we-do-content {
		text-align:center;
		margin-bottom:30px;
	}
	.what-we-do-content span {
		font-size:13px;
		margin-bottom:10px;
	}
	.what-we-do-content h2 {
		font-size:22px;
		margin-bottom:20px;
	}
	.what-we-do-content p {
		margin-left:0;
		margin-bottom:30px;
	}
	.what-we-do-content p::before {
		display:none;
	}
	.what-we-do-content .brand-wrap {
		text-align:centers;
		margin-left:0;
		margin-bottom:0
	}
	h3 {
		font-size:18px
	}
	.what-we-do-item {
		padding:20px
	}
	.what-we-do-item i {
		font-size:50px
	}
	.what-we-do-item.mt-30 {
		margin-top:0
	}
	.what-we-do-item.mt-mince-30 {
		margin-top:0
	}
}
@media only screen and (min-width:992px) and (max-width:1199px) {
	.what-we-do-item {
		padding:20px
	}
	.what-we-do-item i {
		font-size:50px
	}
	.what-we-do-item h3 {
		font-size: 20px
	}
}